<h1>{{ breweriesCtrl.test }}</h1>

<!-- General Search Function -->
<label for="search">Search: </label>
<input ng-model="breweriesCtrl.searchTerm" ng-change="breweriesCtrl.refilter()" placeholder="Search by name or state (e.g., Orpheus or Georgia)">
<br />

<!-- Filter by State Function -->
<label for="filter">Filter by State: </label>
<select ng-controller="StatesController as statesCtrl" ng-model="breweriesCtrl.searchState" ng-change="breweriesCtrl.refilter()" ng-options="state.name as state.name for state in statesCtrl.states track by state.id">
    <option value="">-Select State-</option>
</select>
<br />

<a href="" ui-sref="home.breweries.create">Add a Brewery</a>  
  
<br />
<br />

Showing {{ breweriesCtrl.filteredList.length }}  Breweries
<span ng-if="breweriesCtrl.searchTerm"> for the search '{{ breweriesCtrl.searchTerm }}'</span>  
<span ng-if="breweriesCtrl.searchState"> in the state of {{ breweriesCtrl.searchState }}</span>  
<br />
<hr>

<ul id="breweries-list" ng-click>
    <li ng-repeat="brewery in breweriesCtrl.filteredList track by brewery.id">
        <a href="" ui-sref="home.breweries.show({ breweryId: brewery.id })">{{ brewery.name }}, {{ brewery.state_name }}</a>
    </li>
</ul>