#main-navbar {
  background: #ffffff;
  font-family: 'Coustard', serif; 
  font-weight: 400;
  a.navbar-brand {
      font-size: 2em;
      color: #f28f00;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  }
  li span.user {
      color: #777;
      position: relative;
      display: block;
      padding: 15px 15px

  }
}