<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>PuckerUpAngularRailsApplication</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- GoogleMaps Javascript API call -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdBbWMrt8ROdoblkc2WumUDvx_74VKKn0&callback=initMap">
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
