<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>PuckerUp by Antonio David</title>
    <%= csrf_meta_tags %>
    
    <!-- additional meta tag to trigger responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <!-- GoogleMaps Javascript API -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdBbWMrt8ROdoblkc2WumUDvx_74VKKn0&callback=initMap">
    </script>
    <!-- GoogleFonts -->
    <link href="https://fonts.googleapis.com/css?family=Coustard:400,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">
        
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
